body {
	text-align: center;
	background-color: rgb(200,0,200);
	color: rgb(255,255,255);
}
ul {
	width: 60%;
	list-style: none;
}
li {
	font-size: 20px;
	margin-top: 5%;
	text-align: left;
}
.bordered {
	border-style: solid;
	border-width: 5px;
	border-color: white;

}
a {
	color: black;
}
a:hover{
	background-color: black;
}
h1 {
	color: black;
	
}
h1:hover {
	color: white;
	background-color: black;

}
.jumbotron {
	margin-left: 15%;
	margin-right: 15%;
	color: black;
}